<nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">
    <ol class="breadcrumb spb-1">
    <li class="breadcrumb-item active" aria-current="page">
        <a href="/best-practices/">Best Practices</a>
    </li>/
     <li class="breadcrumb-item active topic topic-{{ page.category | downcase  | strip | replace:'user experience', 'ux' }}" aria-current="page">
        <a href="/{{ page.category | downcase | strip | replace:'user experience', 'ux'}}/">{{ page.category | capitalize }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
         <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
     </ol>
</nav>