<nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">
    <ol class="breadcrumb spb-1">
    <li class="breadcrumb-item active" aria-current="page">
        <a href="/best-practices/">Best Practices</a>
    </li>/
     <li class="breadcrumb-item active topic topic-{{ page.title | downcase  | strip | replace:'user experience', 'ux' }}" aria-current="page">
        <a href="/{{ page.title | downcase  | strip | replace:'user experience', 'ux'}}/">{{ page.title}}</a>
    </li>
     </ol>
</nav>