<!-- begin options-wrapper-->
<div class="radio-option-wrapper">

<ol>

<!-- p = participants -->
<li>
    <p class="radio-question">What's the number of participants?</p>

    <input class="radio-option" type="radio" name="p" id="p-1" checked>
    <label class="for-radio-option" for="p-1"><i class="fas fa-user"></i>individual</label>
    <input class="radio-option" type="radio" name="p" id="p-2">
    <label class="for-radio-option" for="p-2"><i class="fas fa-users"></i>group</label>
</li>

<!-- l = location -->
<li>
    <p class="radio-question">Where are you working from?</p>

    <input class="radio-option" type="radio" name="l" id="l-1" checked>
    <label class="for-radio-option" for="l-1"><i class="fas fa-map-marker-alt"></i>same place</label>
    <input class="radio-option" type="radio" name="l" id="l-2">
    <label class="for-radio-option" for="l-2"><i class="fas fa-people-arrow"></i>distributed</label>
</li>

<!-- s = situation -->
<li>
    <p class="radio-question">Choose a statement.</p>

    <input class="radio-text" type="radio" name="s" id="s-1">
    <label class="for-radio-text" for="s-1">I am / We are at a certain development stage / interested in a certain topic</label>
    <input class="radio-text" type="radio" name="s" id="s-2">
    <label class="for-radio-text" for="s-2">I am / We are facing a complex challenge and don't know where to start.</label>
    <input class="radio-text" type="radio" name="s" id="s-3">
    <label class="for-radio-text" for="s-3">I am / We are missing some theoretical background in design and implementation techniques.</label>
    <input class="radio-text" type="radio" name="s" id="s-4">
    <label class="for-radio-text" for="s-4">I am / We are looking for practical knowledge within a specific research field / keyword.</label>
    <input class="radio-text" type="radio" name="s" id="s-5">
    <label class="for-radio-text" for="s-5">I am / We are interested in everything or have multiple problems.</label>
</li>

</ol>
<!-- end options-wrapper-->
</div>

<script>
    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            var inputValue = $(this).attr("value");
            var inputName = $(this).attr("name");
            var targetBox = $("." + inputName + "-" + inputValue);
            $(".box").not(targetBox).hide();
            $(targetBox).show();
        });
    });
</script>
