<!-- p = participants -->
<div>
    <input class="radio-option" type="radio" name="p" id="p-1" checked>
    <label class="for-radio-option" for="p-1"><i class="fas fa-user"></i>individual</label>
    <input class="radio-option" type="radio" name="p" id="p-2">
    <label class="for-radio-option" for="p-1"><i class="fas fa-users"></i>group</label>
</div>

<!-- l = location -->
<div>
    <input class="radio-option" type="radio" name="l" id="l-1" checked>
    <label class="for-radio-option" for="l-1"><i class="fas fa-map-marker-alt"></i>same place</label>
    <input class="radio-option" type="radio" name="l" id="l-2">
    <label class="for-radio-option" for="l-1"><i class="fas fa-people-arrows"></i>distributed</label>
</div>



<script>
    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            var inputValue = $(this).attr("value");
            var inputName = $(this).attr("name");
            var targetBox = $("." + inputName + "-" + inputValue);
            $(".box").not(targetBox).hide();
            $(targetBox).show();
        });
    });
</script>
