---
layout: plain
---
{% include breadcrumb-best-practice.html %}

<!--optional banner image -->
{% if page.image %}
  <img src="{{ page.image }}" class="banner-image"/>
{% endif %}
{% if page.image-credits %}
  <span class="banner-image-credits">© {{ page.image-credits }}</span>
{% endif %}

<!-- main content-->
<h4 class="strap">Best Practice</h4>
{{ content }}
<hr class="panel-line">

<!--other best practices -->
<h4>More Best Practices in <a class="topic topic-{{ page.category | downcase | strip | replace:'user experience', 'ux'}}" href="{{ site.baseurl }}/{{ page.category | downcase | strip | replace:'user experience', 'ux' }}/">{{ page.category | replace:'UX', 'User Experience'}}</a></h4>
<!-- ...in same category -->
{% assign best-practices = site.best-practices | where: "category", page.category %}
<ul class="tile">
{% for item in best-practices %}
<!-- exclude current best practice from links -->
{% if item.lession != page.lession %} 
  <li>
    <a href="{{ item.url | prepend: site.baseurl }}">
      <img src="{{ item.image }} /">
      <h5>{{ item.title }}</h5>
    </a>
  </li>
  {% endif %}
{%endfor%}
</ul>


{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}
