---
layout: plain
---
<a href="{{ site.baseurl }}/terms-and-concepts/" alt="back to terms and concepts"><i class="fa fa-arrow-left"></i> back to Terms & Concepts</a>

{% if page.image %}
  <img src="{{ page.image }}" class="image-banner"/>
{% endif %}

{% if page.image-credits %}
  <span class="image-credits">© {{ page.image-credits }}</span>
{% endif %}

<!-- main content -->
<div class="strap-wrapper">
  <h4 class="strap">Concept</h4>
  {% if page.category %}      
      <a class="capitalizeAll topic topic-{{ page.category | downcase | strip | replace:'user experience', 'user-experience'}}" href="{{ site.baseurl }}/{{ page.category | downcase | strip | replace:'user experience', 'user-experience' }}/"><span class="capitalizeAll">{{ page.category }}</span></a>
  {% endif %} 
</div>

<h1 class="font-weight-bold">{{ page.title }}</h1>

{{ content }}

<hr class="panel-line">

{% assign concepts = site.concepts %}
{% for concept in concepts %}

    {% if concept.title == page.title %}      
    <div>    

        <div class="half-width">  
        {% unless forloop.first %}     
            {% assign previous_i = forloop.index0 | minus: 1 %}       
                <a href="{{ concepts[previous_i].url | prepend: site.baseurl }}"><i class="block-icon fa fa-chevron-circle-left fa-2x"></i>{{ concepts[previous_i].title }}</a>
        {% endunless %}   
        </div> 

        <div class="half-width right-align">
        {% unless forloop.last %}     
            {% assign next_i = forloop.index0 | plus: 1 %}               
            <a href="{{ concepts[next_i].url | prepend: site.baseurl }}"><i class="block-icon fa fa-chevron-circle-right fa-2x"></i>{{ concepts[next_i].title }}</a>
        {% endunless %}   
        </div> 

    </div>
    {% endif %}

{% endfor %}



