---
layout: plain
---
<a href="{{ site.baseurl }}/terms/" alt="back to terms"><i class="fa fa-arrow-left"></i> back to terms</a><br>

<!-- main content -->
<div class="strap-wrapper">
    <h4 class="strap">Term</h4>
    {% if page.category %}      
        <a class="capitalizeAll topic topic-{{ page.category | downcase | strip | replace:'user experience', 'user-experience'}}" href="{{ site.baseurl }}/{{ page.category | downcase | strip | replace:'user experience', 'user-experience' }}/">{{ page.category }}</a>
    {% endif %} 
</div>

<h1 class="font-weight-bold">{{ page.title }}</h1>

{{ content }}

<hr class="panel-line">

{% assign terms = site.terms %}
{% for term in terms %}

    {% if term.title == page.title %}      
    <div>    

        <div class="half-width">  
        {% unless forloop.first %}     
            {% assign previous_i = forloop.index0 | minus: 1 %}       
                <a href="{{ terms[previous_i].url | prepend: site.baseurl }}"><i class="block-icon fa fa-chevron-circle-left fa-2x"></i>{{ terms[previous_i].title }}</a>
        {% endunless %}   
        </div> 

        <div class="half-width right-align">
        {% unless forloop.last %}     
            {% assign next_i = forloop.index0 | plus: 1 %}               
            <a href="{{ terms[next_i].url | prepend: site.baseurl }}"><i class="block-icon fa fa-chevron-circle-right fa-2x"></i>{{ terms[next_i].title }}</a>
        {% endunless %}   
        </div> 

    </div>
    {% endif %}

{% endfor %}



