---
layout: plain
---

{% include breadcrumb-topic.html %}

<h4 class="strap">Topic</h4>
<h1 class="topic-{{ page.title | downcase | strip | replace:'user experience', 'ux'}} topic-headline">{{ page.title }}</h1>

{{ content }}

<h3>Best Practices</h3>
{% assign best-practices = site.best-practices | where: "category", page.title %}
<ul>
{% for item in best-practices %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<h3>Terms and Concepts</h3>
terms and concepts tagged with #{{page.title}}

<hr class="panel-line">
<h4>Other Topics</h4>
{% assign groups = site.best-practices | group_by: "category" | where_exp: "group", "group.name != page.title"%}
{% for group in groups %}
<a class="topic topic-{{ group.name | downcase | strip | replace:'user experience', 'ux'}}" href="/{{ group.name | downcase | strip | replace:'user experience', 'ux' }}/">{{ group.name | replace:'UX', 'User Experience'}}</a>
{% endfor %}

{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}
